- content_for :body_class, "projects_index"

.content
  .content-container
    - current_projects.each do |p|
      .text-center
        .h2like
          = link_to "#{p.title.capitalize}", specific_project_path(p.title.downcase)
        %p.date
          = p.start_date.strftime("%B %d, %Y").upcase
          \-
          - if p.end_date.present?
            = p.end_date.strftime("%B %d, %Y").upcase
          - else 
            PRESENT
        - if p.url.present?
          = link_to "#{p.url}", "#{p.url}", :class => "c2a", :target => "_blank"

      %p
        = p.slug
      .hr