- content_for :body_class, "projects_index"

.content
  .content-container
    %h1.page-title
      Open Source
    %h4
      These are some of the open source projects I'm currently working on or have worked on in the past. You should be able to find all of these on my 
      = link_to "Github", "#{github_url}"
      \. 
      %br
    - current_projects.each do |p|
      .text-center
        %span
          .h2like
            = link_to  specific_project_path(p.title.downcase) do
              #{p.title.capitalize}
              %span.nav-circle
                >
        %p.date
          = p.start_date.strftime("%B %d, %Y").upcase
          \-
          - if p.end_date.present?
            = p.end_date.strftime("%B %d, %Y").upcase
          - else 
            PRESENT
        - if p.url.present?
          = link_to "#{p.url}", "#{p.url}", :class => "c2a", :target => "_blank"

      %p
        = p.slug
      %p.technologies-used
        = p.technologies
      .hr