.nav-menu
  .nav-menu-content
    .profile-margin
    .profile-img
    .text-center
      .h3like
        Pat Schreiber

      .nav-slug.text-center
        I like building things and solving problems. I always enjoy discovering new things.
    .hr

    .content-row
      .h4like.text-center
        = link_to "Open Source", projects_path
      .nav-slug.text-center
        Ideas that were produced for fun and knowledge. 
      %ul
        - current_projects.each do |p|
          %li
            = link_to specific_project_path(p.title.downcase) do
              .justified.c2a.text-center
                #{p.title.capitalize}
    .hr

    .content-row
      .h4like.text-center
        = link_to "Hire Me", contact_info_path
      .nav-slug.text-center
        Let's create something awesome together.
      %ul
        %li
          = link_to "#" do
            .justified.c2a.text-center
              Resume
          %span
            = link_to ".pdf", "#", :class => "resume-version"
          %span
            = link_to ".doc", "#", :class => "resume-version"
          %span
            = link_to "plain text", "#", :class => "resume-version"
        %li
          = link_to "#{github_url}", :target => "_blank" do
            .justified.c2a.text-center
              Github    
        %li
          = link_to "#{linkedin_url}", :target => "_blank" do
            .justified.c2a.text-center
              Linkedin  

    .hr
    .content-row
      .text-center
        = render "layouts/footer"