.container
  %nav.horizontal
    .column
      = link_to "Open Source", projects_path
      = link_to "#{github_url}", :target => "_blank", :rel => :noopener do
        Github
    .column
      .logo
        = link_to "Pat Schreiber", root_path
    .column
      = link_to "Contact", contact_index_path, :target => "_blank", :rel => :noopener
      = link_to "CV", resume_path
