.container
  %nav.horizontal
    .column
      = link_to "Open Source", projects_path
      = link_to "#{github_url}", :target => "_blank" do
        Github
    .column
      .logo
        Pat Schreiber
    .column
      = link_to "#{linkedin_url}", :target => "_blank" do
        Linkedin
      = link_to "Email", "#{twitter_url}", :target => "_blank"
