.container
  %nav.horizontal
    .column
      = link_to "Open Source", open_source_index_path
      = link_to "#{github_url}", :target => "_blank" do
        Github
    .column
      .logo
        = link_to "Pat Schreiber", root_path
    .column
      = link_to "Contact", "#", :target => "_blank"
      = link_to "CV", "#"
